@import "tailwindcss";

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    display: none;
}

@theme {
    --color-yellow: #ffd400;
    --color-darkergrey: #222222;
    --color-lightgrey: #f2f2f2;
    --color-black: #000000;
    --color-white: #ffffff;
}

@layer base {
    h1,
    h2,
    h3 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl sm:text-4xl;
    }

    h3 {
        @apply text-[1.0rem] sm:text-[1.25rem];
    }

    p {
        @apply text-[0.75rem];
    }

    span {
        @apply text-[0.75rem];
    }

    * {
        @apply text-lightgrey;
    }

    center {
        @apply py-8;
    }
}
