@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .position-unset {
    position: unset;
  }
}

@layer base {
  html, body, main {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl  
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
}